<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h2 align="left"><%= @shop.name %></h2>

<p>&emsp;&emsp;&emsp;&emsp;*<%= link_to "Add New Candy", "/shops/#{@shop.id}/candies/new" %>*</p>

<section id="candies-index">
  <% @candies.each do |candy| %>
    <section id="candies-<%= candy.id %>">
      <h4>&emsp;~  <%= candy.brand %>&emsp;&emsp;&emsp;<%= link_to "Edit #{candy.brand}", "/candies/#{candy.id}/edit" %></h4>
  <% end %><br/>
</section>
