<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h3>Update Candy Shop</h3><br/>
<%= form_with url: "/shops/#{@shop.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, value: @shop.name %><br/><br/>

  <%= form.label :sells_drinks %>
  <%= form.select :sells_drinks, [[true], [false]], value: @shop.sells_drinks %><br/><br/>

  <%= form.label :varieties %>
  <%= form.number_field :varieties, value: @shop.varieties %><br/><br/>

  <%= form.submit 'Submit Shop Update' %>
<% end %>
