<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h3>Edit Candy Shop</h3><br/>
<%= form_with url: "/merchants/#{@merchant.id}/discounts/#{@discount.id}", method: :patch, local: true do |f| %>

  <%= f.label :percent %>
  <%= f.number_field :percent, value: "#{@discount.percent}" %><br/><br/>

  <%= f.label :quantity %>
  <%= f.number_field :quantity, value: "#{@discount.quantity}" %><br/><br/>

  <%= f.submit 'Submit Edit' %>
<% end %>
