<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h3>New Candy Shop</h3><br/>
<%= form_with url:"/shops/", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br/><br/>

  <%= form.label :sells_drinks %>
  <%= form.select :sells_drinks, [[true], [false]] %><br/><br/>

  <%= form.label :varieties %>
  <%= form.number_field :varieties %><br/><br/>

  <%= form.submit 'Create New Shop' %>
<% end %>
