<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h2 align="left"><%= @shop.name %></h2>
<p>&emsp;&emsp;&emsp;&emsp;*<%= link_to "Update Candy Shop", "/shops/#{@shop.id}/edit" %>*</p>

<p>&emsp;Shop ID#: <%= @shop.id %></p>
<p>&emsp;Sell drinks?: <%= @shop.sells_drinks %></p>
<p>&emsp;How many candy varieties?: <%= @shop.varieties %></p><br/>

<p>&emsp;=> <%= link_to "#{@count_candy}  candy(s) available", "/shops/#{@shop.id}/candies" %></p>
