<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h3>Edit Candy</h3><br/>
<%= form_with url: "/candies/#{@candy.id}", method: :patch, local: true do |form| %>
  <%= form.label :brand %>
  <%= form.text_field :brand, value: @candy.brand %><br/><br/>

  <%= form.label :all_natural %>
  <%= form.select :all_natural, [[true], [false]], value: @candy.all_natural %><br/><br/>

  <%= form.label "Candy varieties" %>
  <%= form.number_field :calories, value: @candy.calories %><br/><br/>

  <%= form.submit 'Submit Candy Edit' %>
<% end %>
