<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<section id="candy-index">
  <h2>&emsp;&emsp;Candies Index</h2>
  <% @candies.each do |candy| %>
    <section id="candy-<%= candy.id %>">
      <h4><%= link_to "#{candy.brand}", "/candies/#{candy.id}" %></h4>
      <% if candy.all_natural == true  %>
        <p>&emsp;  All natural </p>
      <% else %>
        <p>&emsp;  Artificial ingredients </p>
      <% end %>
      <p>&emsp;  <%= candy.calories %> calories</p>
      <p><%= button_to "Update #{candy.brand}", "/candies/#{candy.id}/edit", method: :get %></p>
      <p><%= button_to "( Delete )", "/candies/#{candy.id}", method: :delete %></p><br/>
    </section>
  <% end %><br/>
</section>
