<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h3>New Candy</h3><br/>
<%= form_with url:"/shops/#{@shop.id}/candies", method: :post, local: true do |form| %>
  <%= form.label :brand %>
  <%= form.text_field :brand %><br/><br/>

  <%= form.label :all_natural %>
  <%= form.select :all_natural, [[true], [false]] %><br/><br/>

  <%= form.label :calories %>
  <%= form.number_field :calories %><br/><br/>

  <%= form.submit 'Create New Candy' %>
<% end %>
