<section id="links">
  <h3><%= render partial: 'partials/header_links' %></h3>
</section><br/>

<h2 align="left"><%= @candy.brand %></h2>

<p>&emsp;Candy ID#: <%= @candy.id %></p>
<p>&emsp;All natural?: <%= @candy.all_natural %></p>
<p>&emsp;<%= @candy.calories %> calories</p>

<p><%= button_to "Update #{@candy.brand}", "/candies/#{@candy.id}/edit", method: :get %></p>
<p><%= button_to "( Delete #{@candy.brand} )", "/candies/#{@candy.id}", method: :delete %></p>
<br/>
