<%= link_to "Radical Bakeries", bakeries_path %>
<%= link_to "Delicious Pastries", pastries_path %>

<h1 style="color:tomato">Fill out the fields below to update your Radical Bakery</h1>

<%= form_with url: "/bakeries/#{@bakery.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :open_on_weekends %>
  <%= form.select :open_on_weekends, [[true], [false]] %>
  <br>
  <%= form.label :hours_open %>
  <%= form.number_field :hours_open %>
  <br>
  <%= form.submit 'Update Bakery' %>
<% end %>
