<%= link_to "Delicious Pastries", pastries_path %>
<h1 style="color:tomato;"><%= @bakery.name %></h1>

<d1>
  <dt style="color:darkorange;">Open on the weekends:</dt>
    <dd style="color:gold;">-<%= @bakery.open_on_weekends %></dd>
  <dt style="color:darkorange;">Amount of hours open per day:</dt>
    <dd style="color:gold;">-<%= @bakery.hours_open %></dd>
  <dt style="color:darkorange;">Current amount of pastry varieties:</dt>
    <dd style="color:gold;">-<%= @bakery.pastries.count %></dd>
</d1>
