<%= link_to "Radical Bakeries", bakeries_path %>
<h1 style="color:blue;">The most Delicious Pastries around!</h1>

<section id="pastry-details">
  <% @true_pastries.each do |pastry| %>
  <section id="pastry-<%= pastry.id %>">
    <h2 style="color:mediumseagreen;"><%= pastry.name %></h2>
    <h3 style="color:darkblue;">The deets:</h3>
    <p style="color:lightblue;">Savory Pastry: <%= pastry.savory_pastry? %></p>
    <p style="color:lightblue;">Calorie Amount (don't look): <%= pastry.calories %></p>
    <%= link_to "Update #{pastry.name}", "/pastries/#{pastry.id}/edit" %>
  </section>
  <% end %>
</section>
