<%= link_to "Radical Bakeries", bakeries_path %>
<%= link_to "Delicious Pastries", pastries_path %>
<h1 style="color:mediumseagreen;"><%= @pastry.name %></h1>
<h3><%= @pastry.bakery.name %></h3>

<d1>
  <dt style="color:dodgerblue;">Is this a Savory Pastry?</dt>
    <dd style="color:teal;">-<%= @pastry.savory_pastry %></dd>
  <dt style="color:dodgerblue;">Calorie Amount:</dt>
    <dd style="color:teal;">-<%= @pastry.calories %></dd>
  <dt style="color:dodgerblue;">Click the link below to update this pastry.</dt>
    <dd><%= link_to "Update Pastry", "/pastries/#{@pastry.id}/edit" %></dd>
</d1>
